{% extends  "tracker_app/base.html" %}
{% load staticfiles %}

{% block content_block %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Food items</h1>
    <p class="lead text-muted">Our database contains {{ foods_total_count }} user-added foods.</p>
    <p class="lead text-muted"> All values below are per gram.</p>
    <p>
      {% if user.is_authenticated %}
      <a href="#" class="btn btn-primary my-2">Add food</a>
      {% endif %}
    </p>
  </div>
</section>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Calories</th>
        <th>Fat</th>
        <th>Carbs</th>
        <th>Protein</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for f in foods %}
      <tr>
        <td>{{f.pk}}</td>
        <td>{{f.name}}</td>
        <td>{{f.calories}}</td>
        <td>{{f.fat}}</td>
        <td>{{f.carbs}}</td>
        <td>{{f.protein}}</td>
        <td><a href="#">Details</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}